{% extends "producto/base_producto.html" %}
{% load  static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/producto/actualizar.css' %}">
{% endblock css %}

{% block title %}
   Actualizar el producto
{% endblock title %}

{% block content %}
<div class="container mt-3 mb-3">
    <form method="POST" class="pt-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col mb-3">
                    <label for="formFile" class="form-label">Ingrese Nombre: </label>
                    {{form.nombre}}
            </div>
            <div class="col mb-3">
                <label for="formFile" class="form-label">Ingrese Marca: </label>
                {{form.marca}}
            </div>
            <div class="col mb-3">
                <label for="formFile" class="form-label">Ingrese Clasificador: </label>
                {{form.clasificador}}
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                    <label for="formFile" class="form-label">Ingrese Descipción: </label>
                    {{form.descripcion}}
            </div>
            <div class="col mb-3">
                <div>
                    <label for="formFile" class="form-label">Ingrese Precio: </label>
                    {{form.precio}}
                </div>
                <div class="mt-5">
                    <label for="formFile" class="form-label">Anulado: </label>
                    {{form.anulado}}
                </div>
                <div class="mt-1">
                    <label for="formFile" class="form-label">Imagen actual: </label>
                    <img src="{{producto.imagen.url}}" alt="Imagen Actual" >
                </div>
                <div class="mt-1">
                    {{form.imagen}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3 mb-3">
                <button type="submit" id="guardar" class="btn btn-success">Guardar</button>
                <a href="{% url 'productos:listar-productos' %}" id="volver" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}