{% extends "producto/base_producto.html" %}
{% load  static %}

{% block css %}
{% endblock css %}

{% block title %}
   Agregar del producto
{% endblock title %}

{% block content %}
{% include "includes/header.html" %}
<div class="container mt-5" style="border: 1px solid black;">
    <form method="POST" class="pt-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col mb-3">
                    <label for="formFile" class="form-label">Ingrese Nombre: </label>
                    {{form.nombre}}
            </div>
            <div class="col mb-3">
                <label for="formFile" class="form-label">Ingrese Marca: </label>
                {{form.marca}}
            </div>
            <div class="col mb-3">
                <label for="formFile" class="form-label">Ingrese Clasificador: </label>
                {{form.clasificador}}
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                    <label for="formFile" class="form-label">Ingrese Descipción: </label>
                    {{form.descripcion}}
            </div>
            <div class="col mb-3">
                <div>
                    <label for="formFile" class="form-label">Ingrese Precio: </label>
                    {{form.precio}}
                </div>
                <div class="mt-5">
                    <label for="formFile" class="form-label">Anulado: </label>
                    {{form.anulado}}
                </div>
                <div class="mt-5">
                    <label for="formFile" class="form-label">Ingrese Imagen: </label>
                    {{form.imagen}}
                </div>
                <div class="mt-5">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
                
            </div>
        </div>
    </form>
</div>
{% endblock content %}