{% extends "producto/base_producto.html" %}
{% load  static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/producto/eliminar.css' %}">
{% endblock css %}

{% block title %}
   Eliminar del producto
{% endblock title %}

{% block content %}
<div class="container mt-3 mb-3">
    <form method="POST" class="pt-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col mb-3">
                    <label for="formFile" class="form-label">Nombre: </label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{producto.nombre}}" disabled>
            </div>
            <div class="col mb-3">
                <label for="formFile" class="form-label">Marca: </label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{producto.marca}}" disabled>
            </div>
            <div class="col mb-3">
                <label for="formFile" class="form-label">Clasificador: </label>
                <input class="form-control" id="disabledTextInput" placeholder="{{producto.clasificador}}" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                    <label for="formFile" class="form-label">Descipción: </label>
                    <textarea type="text" id="disabledTextInput" class="form-control" placeholder="{{producto.descripcion|linebreaksbr}}" style="height: 75%;" disabled></textarea>              
            </div>
            <div class="col mb-3">
                <div>
                    <label for="formFile" class="form-label">Precio: </label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="${{producto.precio}}" disabled>
                </div>
                <div class="mt-5">
                    <label for="formFile" class="form-label">Anulado: </label>
                    
                    {% if producto.anulado %}
                        <input type="checkbox" checked disabled>
                    {% else %}
                        <input type="checkbox"  disabled>
                    {% endif %}
                        
                </div>
                <div class="mt-1">
                    <label for="formFile" class="form-label">Imagen del producto: </label>
                    <img src="{{producto.imagen.url}}" alt="Imagen del Producto">
                </div>               
            </div>
        </div>
        <div class="row">
            <div class="col mt-3 mb-3">
                <button type="submit" class="btn btn-danger" id="eliminar">Eliminar</button>
                <a href="{% url 'productos:listar-productos' %}" id="volver" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}