body {
    background-color: white;
}

/*NAV*/

.navbar{
    padding:0;
    max-height: 100px;
}

nav>div>div>ul{
    width:100%;
    justify-content: space-around;
}

nav>div>div>ul>li{
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    white-space: pre;
}

nav>div>div>ul>li:hover{
    background-color: cornsilk;
    height:100%;
}

nav>div>div>ul>li>a{
    font-family: 'Montserrat';
}