body {
    background-color: white;
}

/*NAV*/

#navbarSupportedContent{
    justify-content: center;
}

.navbar{
    padding:0;
}

nav>div>div>ul{
    width:100%;
    justify-content: space-around;
}

li.nav-item{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    white-space: pre;
}

li.nav-item:hover{
    text-decoration: underline wavy;
}

li.nav-item>a{
    font-family: 'Montserrat';
}