{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(197, 201, 253, 1);">
    <div class="container-fluid">
      <img class="navbar-brand " src="{% static 'img/logo/logo.png' %}" alt="Logo" style="height: 90px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home:inicio' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:impresiones' %}">Impresiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Arte">Arte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Blocks">Blocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Carpetas">Carpetas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Cartones">Cartones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Cartulina">Cartulina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Cinta">Cintas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Cuadernos">Cuadernos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Esfera">Esfera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Gomas">Gomas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Lapices">Lápices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Palos">Palos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Papeles">Papeles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:clasificador-productos' %}?clasificador=Otros Materiales">Otros Materiales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:listar-productos' %}">Lista Productos </a>
          </li>
          {% if user.is_anonymous %}
            <li class="nav-item" style="text-decoration: none;">
              <a class="btn btn-outline-success" href="{% url 'users:login' %}">Iniciar Sesión</a>
            </li>
          {% else %}
            <li class="nav-item" style="text-decoration: none;">
              <a class="btn btn-outline-danger" href="{% url 'users:logout' %}">Salir</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
    