{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(197, 201, 253, 1);">
    <div class="container-fluid">
      <img class="navbar-brand " src="{% static 'img/logo/logo.png' %}" alt="Logo" style="height: 90px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home:inicio' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Impresiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Arte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Carpetas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cartones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cartulina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cintas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cuadernos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Esfera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gomas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lápices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Palos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Papeles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Otros Materiales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:listar-productos' %}">Lista Productos </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    