{% extends "clasificador/base_clasificador.html" %}
{% load  static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/clasificador/impresiones.css' %}">
{% endblock css %}

{% block title %}
   Impresiones
{% endblock title %}

{% block content %}
<section class="py-5 text-center container">
   <div class="row py-lg-5">
     <div class="col-lg-6 col-md-8 mx-auto">
       <h1 class="fw-light">Impresiones</h1>
   </div>
 </section>

 <div class="album py-5 bg-light">
   <div class="container">

     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         <div class="col">
            <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{% static 'img/Impresiones/libroanilladocolor.jpg' %}" role="img" ></svg>

            <div class="card-body">
               <h5 class="card-title">Impresión de Libro a Color</h5>
               <hr>
               <p class="card-text">Impresión a color con anillado y mica transparente en ambas caras</p>
               <hr>
               <p class="card-text">Valores por hoja: </p>
               <ul>
                  <li class="card-text">5 - 50 Hojas: $5.000</li>
                  <li class="card-text">51 - 100 Hojas: $5.500</li>
                  <li class="card-text">101 - 150 Hojas: $6.000</li>
                  <li class="card-text">151 - 200 Hojas: $6.500</li>
                  <li class="card-text">201 - 250 Hojas: $7.000</li>
                  <li class="card-text">251 - 300 Hojas: $7.500</li>
                  <li class="card-text">301 - 350 Hojas: $8.000</li>
                  <li class="card-text">351 - 400 Hojas: $8.500</li>
                  <li class="card-text">401 - 450 Hojas: $9.000</li>
               </ul>
            </div>
            </div>
         </div>
         <div class="col">
            <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{% static 'img/Impresiones/libroanilladobn.jpg' %}" role="img" ></svg>

            <div class="card-body">
               <h5 class="card-title">Impresión de Libro a Blanco y Negro</h5>
               <hr>
               <p class="card-text">Impresión en blanco y negro con anillado y mica transparente en ambas caras</p>
               <hr>
               <p class="card-text">Valores por hoja: </p>
               <ul>
                  <li class="card-text">5 - 50 Hojas: $4.500</li>
                  <li class="card-text">51 - 100 Hojas: $5.000</li>
                  <li class="card-text">101 - 150 Hojas: $5.500</li>
                  <li class="card-text">151 - 200 Hojas: $6.000</li>
                  <li class="card-text">201 - 250 Hojas: $6.500</li>
                  <li class="card-text">251 - 300 Hojas: $7.000</li>
                  <li class="card-text">301 - 350 Hojas: $7.500</li>
                  <li class="card-text">351 - 400 Hojas: $8.000</li>
                  <li class="card-text">401 - 450 Hojas: $8.500</li>                  
               </ul>
            </div>
            </div>
         </div>
         <div class="col">
            <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{% static 'img/Impresiones/hojas.jpg' %}" role="img" ></svg>

            <div class="card-body">
               <h5 class="card-title">Impresión por Hoja</h5>
               <hr>
               <p class="card-text">Impresión según cantidad de hojas</p>
               <hr>
               <p class="card-text">Valores por hoja: </p>
               <ul>
                  <li class="card-text">1 - 50 Hojas: $800</li>
                  <li class="card-text">51 - 100 Hojas: $1.000</li>
                  <li class="card-text">101 - 150 Hojas: $1.500</li>
                  <li class="card-text">151 - 200 Hojas: $2.000</li>
                  <li class="card-text">201 - 250 Hojas: $2.500</li>
                  <li class="card-text">251 - 300 Hojas: $3.000</li>
                  <li class="card-text">301 - 350 Hojas: $3.500</li>
                  <li class="card-text">351 - 400 Hojas: $4.000</li>
               </ul>
               <hr>
               <p class="card-text">EN CASO DE SER MÁS HOJAS, DEBE DE REALIZAR EN 2 TOMOS.</p>
            </div>
            </div>
         </div>
     </div>
   </div>
 </div>
{% endblock content %}